@charset "utf-8";
/* 公用css */
*{ margin:0;  padding:0;}
body{ background:#fff; overflow:hidden;}
.hide { display:none;}
img { width:40%;}
.page{
	height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    }
.content{overflow:hidden;}
/*元素背景*/
.page1{background:url(../images/bg1.png) no-repeat;background-size:cover;width:100%;height:100%;}
.page2{background:url(../images/bg2.png) no-repeat;background-size:cover;width:100%;height:100%;}

#sharebox img {
    position: absolute;
    right: 3%;
    top: 1%;
    width: 50%;
}

.sharebox {
    background: #000 none repeat scroll 0 0;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    z-index: 9999;
	}
	
.videoContainer{ display:none;}
.videoBt{
	height: 10%;
    position:fixed;
    right: 3%;
    top: 3%;
    width: 10%;
    z-index: 999999;
	cursor:pointer;
	}
.videoBt img{animation:xuanzhuan 2.2s linear infinite; width:100%;}
.music{
	position: absolute;
	left: 2%;
	z-index: 999999;
	cursor:pointer;
	}
.listbox{
	position: fixed;
	top: 87%;
	left: 35%;
	width: 68%;
	height: 17%;
	z-index: 8000;}
	
.listbox img{animation:moveFromBottom 7.6s ease;-webkit-animation:moveFromBottom 7.6s ease;}
.message
	{
	position: fixed;
	width: 15%;
	height: 10%;
	top: 0%;
	}

body .delay100 { animation-delay:.1s;-webkit-animation-delay:.1s;}
body .delay200 { animation-delay:.2s;-webkit-animation-delay:.2s;}
body .delay300 { animation-delay:.3s;-webkit-animation-delay:.3s;}
body .delay400 { animation-delay:.4s;-webkit-animation-delay:.4s;}
body .delay500 { animation-delay:.5s;-webkit-animation-delay:.5s;}
body .delay600 { animation-delay:.6s;-webkit-animation-delay:.6s;}
body .delay700 { animation-delay:.7s;-webkit-animation-delay:.7s;}
body .delay800 { animation-delay:.8s;-webkit-animation-delay:.8s;}
body .delay900 { animation-delay:.9s;-webkit-animation-delay:.9s;}
body .delay1000 { animation-delay:1s;-webkit-animation-delay:1s;}
body .delay1100 { animation-delay:1.1s;-webkit-animation-delay:1.1s;}
body .delay1200 { animation-delay:1.2s;-webkit-animation-delay:1.2s;}
body .delay1300 { animation-delay:1.3s;-webkit-animation-delay:1.3s;}
body .delay1400 { animation-delay:1.4s;-webkit-animation-delay:1.4s;}
body .delay1500 { animation-delay:1.5s;-webkit-animation-delay:1.5s;}
body .delay1600 { animation-delay:1.6s;-webkit-animation-delay:1.6s;}
body .delay1700 { animation-delay:1.7s;-webkit-animation-delay:1.7s;}
body .delay1800 { animation-delay:1.8s;-webkit-animation-delay:1.8s;}
body .delay1900 { animation-delay:1.9s;-webkit-animation-delay:1.9s;}
body .delay2000 { animation-delay:2s;-webkit-animation-delay:2s;}
body .delay2100 { animation-delay:2.1s;-webkit-animation-delay:2.1s;}
body .delay2200 { animation-delay:2.2s;-webkit-animation-delay:2.2s;}
body .delay2300 { animation-delay:2.3s;-webkit-animation-delay:2.3s;}
body .delay2400 { animation-delay:2.4s;-webkit-animation-delay:2.4s;}
body .delay2500 { animation-delay:2.5s;-webkit-animation-delay:2.5s;}
body .delay2600 { animation-delay:2.6s;-webkit-animation-delay:2.6s;}
body .delay2700 { animation-delay:2.7s;-webkit-animation-delay:2.7s;}
body .delay2800 { animation-delay:2.8s;-webkit-animation-delay:2.8s;}
body .delay2900 { animation-delay:2.9s;-webkit-animation-delay:2.9s;}
body .delay3000 { animation-delay:3s;-webkit-animation-delay:3s;}
body .delay3100 { animation-delay:3.1s;-webkit-animation-delay:3.1s;}
body .delay3200 { animation-delay:3.2s;-webkit-animation-delay:3.2s;}
body .delay3300 { animation-delay:3.3s;-webkit-animation-delay:3.3s;}
body .delay3400 { animation-delay:3.4s;-webkit-animation-delay:3.4s;}
body .delay3500 { animation-delay:3.5s;-webkit-animation-delay:3.5s;}
body .delay4000 { animation-delay:4s;-webkit-animation-delay:4s;}
body .delay4100 { animation-delay:4.1s;-webkit-animation-delay:4.1s;}
body .delay4200 { animation-delay:4.2s;-webkit-animation-delay:4.2s;}
body .delay4300 { animation-delay:4.3s;-webkit-animation-delay:4.3s;}
body .delay4400 { animation-delay:4.4s;-webkit-animation-delay:4.4s;}
body .delay4500 { animation-delay:4.5s;-webkit-animation-delay:4.5s;}
body .delay4600 { animation-delay:4.6s;-webkit-animation-delay:4.6s;}
body .delay4700 { animation-delay:4.7s;-webkit-animation-delay:4.7s;}
body .delay4800 { animation-delay:4.8s;-webkit-animation-delay:4.8s;}
body .delay4900 { animation-delay:4.9s;-webkit-animation-delay:4.9s;}
body .delay5000 { animation-delay:5s;-webkit-animation-delay:5s;}
body .delay5100 { animation-delay:5.1s;-webkit-animation-delay:5.1s;}
body .delay5200 { animation-delay:5.2s;-webkit-animation-delay:5.2s;}
body .delay5300 { animation-delay:5.3s;-webkit-animation-delay:5.3s;}
body .delay5400 { animation-delay:5.4s;-webkit-animation-delay:5.4s;}
body .delay5500 { animation-delay:5.5s;-webkit-animation-delay:5.5s;}
body .delay5600 { animation-delay:5.6s;-webkit-animation-delay:5.6s;}
body .delay5700 { animation-delay:5.7s;-webkit-animation-delay:5.7s;}
body .delay5800 { animation-delay:5.8s;-webkit-animation-delay:5.8s;}
body .delay5900 { animation-delay:5.9s;-webkit-animation-delay:5.9s;}
body .delay6000 { animation-delay:6s;-webkit-animation-delay:6s;}