@charset "utf-8";
/* 第二页 */
.p2_1{
	position: absolute;
	width: 3%;
	height: 26%;
	left: 20%;
	top: 0%;}
.p2_2{
	position: absolute;
	width: 100%;
	height: 20%;
	left: 0%;
	top: 0%;
}
.p2_2_box {
    height: 115%;
	left: 18%;
	overflow: hidden;
	position: absolute;
	top: 4%;
	width: 56%;
}
.p2_3{
	position: absolute;
	width: 72%;
	height: 3%;
	left: 13%;
	top: 32%;}
.p2_4{
	position: absolute;
	width: 72%;
	height: 3%;
	left: 27%;
	top: 40%;}
.p2_5{
	position: absolute;
	width: 72%;
	height: 3%;
	left: 43%;
	top: 48%;}
.p2_6{
	position: absolute;
	left: 17%;
	top: 27%;}
.p2_7{
	position: absolute;
	left: 34%;
	top: 35%;}
.p2_8{
	position: absolute;
	left: 45%;
	top: 43%;}
.p2_9{
	position: absolute;
	width: 85%;
	height: 27%;
	left: -10%;
	top: 51%;}
.p2_10{
	position: absolute;
	width: 83%;
	height: 22%;
	left: 6%;
	top: 70%;}